*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #08000f;
  font-family: 'VT323', monospace;
  color: #e8e0ff;
  -webkit-font-smoothing: none;
}

#root {
  height: 100%;
  width: 100%;
}
